#BannerContainer {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding-top: 18vh;
    padding-bottom: 18vh;
    gap: 60px;
    background: url("../images/banner/banner background.png") no-repeat center center fixed;
    background-size: cover;

}

#myImg {
    width: 430px;
}

#txtHiThere {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-style: normal;
    letter-spacing: 1px;
    -webkit-text-stroke: 1px white;
    color: #13171a;
    font-weight: bold;
}

#myRole {
    color: #E9ECEF;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

#myName {
    color: #c2c2c2;
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 12px;
    line-height: normal;
}

#myDescription {
    color: #F8F9FA;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 35vw;
    margin-top: 20px;
}

#hrLine {
    margin-top: 50px;
    width: 80%;
    opacity: 30%;
}

#btnGroup {
    margin-top: 30px;
}

#btnHireMe {
    padding: 15px 25px;
    border-radius: 36px;
    background: #F8F9FA;
    border: none;
    color: #212529;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    transition: 0.3s;
    cursor: pointer;
}

#btnHireMe:hover {
    background: #e5e5e5;
}

#btnHireMe:active {
    background: #F8F9FA;
}

#btnDownloadResume {
    position: relative;
    overflow: hidden;
    padding: 15px 25px;
    margin-left: 5px;
    border-radius: 36px;
    background: #212529;
    border: 2px solid #F8F9FA;
    color: #F8F9FA;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    transition: 0.3s;
    cursor: pointer;
}

#btnDownloadResume:hover {
    background: #32393f;
}

#btnDownloadResume:active {
    background: #212529;
}

#divStyle1 {
    width: 3px;
    height: 88px;
    background: linear-gradient(0deg, #D9D9D9 0%, rgba(217, 217, 217, 0.00) 100%);
}

#divStyle2 {
    width: 3px;
    height: 88px;
    background: linear-gradient(180deg, #D9D9D9 0%, rgba(217, 217, 217, 0.00) 100%);
}

#socialMediaIconsList {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    transition: 1s;
}

#socialMediaIconsList > li > svg {
    transition: 0.3s;
}

#socialMediaIconsList > li > svg:hover {
    transform: scale(1.2);
}

@media all and (max-width: 1440px) and (min-width: 1025px) {
    #myDescription {
        width: 45vw;
    }

    #BannerContainer {
        padding-top: 15vh;
        padding-bottom: 15vh;
        gap: 30px;
    }
}

@media all and (max-width: 1024px) and (min-width: 769px) {
    #BannerContainer {
        padding-top: 18vh;
        padding-bottom: 18vh;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }

    #myDescription {
        width: 60vw;
    }

    #myImg {
        margin-left: -20px;
        width: 360px;
    }

    #myInfoDiv {
        margin-left: 10px;
    }

    #txtHiThere {
        font-size: 30px;
    }

    #myRole {
        font-size: 50px;
    }

    #myName {
        font-size: 35px;
    }

    #myDescription {
        font-size: 14px;
        width: 45vw;
    }
}

@media all and (max-width: 768px) and (min-width: 426px) {
    #myImg {
        display: none;
    }

    #txtHiThere {
        font-size: 30px;
    }

    #myRole {
        font-size: 50px;
    }

    #myName {
        font-size: 35px;
    }

    #myDescription {
        font-size: 14px;
        width: 65vw;
    }
}

@media all and (max-width: 425px) and (min-width: 376px) {
    #BannerContainer {
        padding-top: 18vh;
        padding-bottom: 18vh;
        justify-content: center;
        align-items: center;
    }

    #myInfoDiv {
        margin-left: 30px;
    }

    #lnkSocialMediaIconsList {
        display: none;
    }

    #myImg {
        display: none;
    }

    #txtHiThere {
        font-size: 30px;
    }

    #myRole {
        font-size: 50px;
    }

    #myName {
        font-size: 35px;
    }

    #myDescription {
        font-size: 14px;
        width: 85vw;
    }

    #btnGroup {
        display: flex;
        flex-direction: column;
    }

    #btnDownloadResume {
        margin-top: 5px;
        margin-left: 0;
    }
}

@media all and (max-width: 375px) and (min-width: 321px) {
    #myImg {
        display: none;
    }

    #txtHiThere {
        font-size: 30px;
    }

    #myRole {
        font-size: 50px;
    }

    #myName {
        font-size: 35px;
    }

    #myDescription {
        font-size: 14px;
        width: 65vw;
    }
}
