#BannerContainer {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
    background: #212529;
    gap: 10px;
}

#txtHiThere {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-style: normal;
    letter-spacing: 1px;
    -webkit-text-stroke: 1px white;
    color: #13171a;
    font-weight: bold;
}

#myRole {
    color: #E9ECEF;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

#myDescription {
    color: #F8F9FA;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    width: 35vw;
    margin-top: 20px;
}

#hrLine {
    margin-top: 30px;
    width: 80%;
    opacity: 50%;
}

#btnGroup {
    margin-top: 30px;
}

#btnHireMe {
    padding: 15px 25px;
    border-radius: 36px;
    background: #F8F9FA;
    border: none;
    color: #212529;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
}
#btnDownloadResume {
    padding: 15px 25px;
    margin-left: 5px;
    border-radius: 36px;
    background: #212529;
    border: 2px solid #F8F9FA;
    color: #F8F9FA;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
}
