#firDivMainContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    gap: 20px;
}

#firDivContainer {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px 50px;
    padding: 20px;
    width: 850px;
    place-items: center;
}

#firDivContainer > div {
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
    border-bottom: 3px solid transparent;
}

#firDivContainer > div:hover {
    border-bottom: 3px solid #212529;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
}

.gridItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background: white;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    transition: 0.3s;
}

.gridItem > h3 {
    margin-top: 10px;
}

.gridItem > p {
    width: 90%;
    color: gray;
}

.gridItem:hover {
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
}

#firstDivDescriptionBox {
    width: 315px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#firstDivDescriptionBox > h6 {
    font-size: 12px;
    margin-left: -25px;
}

#firstDivDescriptionBox > h1 {
    margin-top: -12px;
    font-size: 60px;
}

#firstDivDescriptionBox > p {
    font-size: 15px;
    width: 80%;
}


@media all and (max-width: 1440px) and (min-width: 1025px) {
    #firDivContainer {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    #firstDivDescriptionBox {
        width: 400px;
        margin-top: 100px;
    }
}

@media all and (max-width: 1024px) and (min-width: 769px) {
    #firstDivDescriptionBox {
        margin-top: 100px;
    }

    #firDivContainer {
        margin-top: 50px;
        margin-bottom: 100px;
        gap: 50px 50px;
    }
}

@media all and (max-width: 930px) {
    #firDivContainer {
        gap: 50px 50px;
        padding: 20px;
    }
}

@media all and (max-width: 768px) and (min-width: 426px) {
    #firstDivDescriptionBox {
        margin-top: 100px;
    }

    #firDivContainer {
        margin-top: 50px;
        margin-bottom: 100px;
        gap: 50px 50px;
    }
}

@media all and (max-width: 599px) {
    #firDivContainer {
        gap: 50px 50px;
        padding: 20px;
    }

    #firDivContainer > div:nth-child(1) ,
    #firDivContainer > div:nth-child(3) ,
    #firDivContainer > div:nth-child(5) {
        box-shadow: none;
    }

}

@media all and (max-width: 425px) and (min-width: 376px) {
    #firstDivDescriptionBox {
        margin-top: 100px;
    }

    #firDivContainer {
        margin-top: 50px;
        margin-bottom: 100px;
    }
}

@media all and (max-width: 375px) and (min-width: 321px) {
        #firstDivDescriptionBox {
        margin-top: 100px;
    }

    #firDivContainer {
        margin-top: 50px;
        margin-bottom: 100px;
    }
}

@media all and (max-width: 320px) {
        #firstDivDescriptionBox {
        margin-top: 100px;
    }

    #firDivContainer {
        margin-top: 50px;
        margin-bottom: 100px;
    }
}