#checkbox {
    display: none;
}

.toggle {
    position: relative;
    width: 25px;
    height: 25px;
    cursor: pointer;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition-duration: .5s;
}

.bars {
    width: 100%;
    height: 4px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
}

#bar2 {
    transition-duration: .8s;
}

#bar1,#bar3 {
    width: 70%;
}

#checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: .5s;
}

#checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .5s;
}

#checkbox:checked + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
}

#checkbox:checked + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
}

#checkbox:checked + .toggle {
    transition-duration: .5s;
    transform: rotate(180deg);
}

@media all and (max-width: 768px) {
    #navList {
        display: none;
    }

    .toggle {
        display: flex;
    }

    .headerContainer {
        justify-content: space-between;

    }

    #imgIcon {
        margin-left: 20px;
    }

    .toggle {
        margin-right: 20px;
    }
}

#checkbox:checked ~ #navList1 {
    display: block;
}

/* Additional styles for navigation */
#navList1 {
    padding: 10px;
    position: absolute;
    top: 50px;
    right: 50px;
    width: 100px;
    display: none;
    border-radius: 5px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    background: transparent;
}

#navList1 ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
    left: -20px;
}

#navList1 ul li {
    padding-top: 10px;
    padding-bottom: 10px;
}

#navList1 ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}