#secDivMainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding-top: 120px;
    padding-bottom: 120px;
    font-family: 'Roboto', sans-serif;
}

#secDivContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    padding: 10px;
}

#secDivContainerIcon1 {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#secDivContainerIcon2 {
    width: 600px;
    margin: auto;
}

#secDivContainerIcon1 > img {
    object-fit: cover;
    width: 80%;
    opacity: 10%;
}

#txtTopicDetails {
    font-size: 12px;
    color: gray;
    margin-left: 50px;
}

#txtAboutMe {
    margin-top: -10px;
    font-size: 60px;
}

#txtWorkEx {
    font-size: 18px;
    font-weight: lighter;
    letter-spacing: 5px;
    margin-top: 5px;
}

#txtWorkExDescription {
    font-size: 16px;
    color: #32393f;
    margin-top: 2px;
}

#listMyExperience {
    list-style: none;
    margin-top: 15px;
    margin-left: 35px;
}

#listMyExperience > li {
    padding: 8px;
}

#listMyExperience > li > img,
#listMyExperience > li > h5 {
    display: inline-block;
}

#listMyExperience > li > img {
    margin: -2.5px;
}

#listMyExperience > li > h5 {
    font-size: 18px;
    font-weight: bold;
}

#listMyExperience > li > h6 {
    font-size: 15px;
    font-weight: lighter;
    margin-left: 18px;
}

#txtContactInfo {
    font-size: 18px;
    font-weight: lighter;
    letter-spacing: 5px;
    margin-top: 15px;
}

#txtContactDescription {
    font-size: 16px;
    color: #32393f;
    margin-top: 2px;
}

.txtContactDetails {
    font-size: 16px;
    color: #32393f;
    margin-top: 5px;
}

#socialIconsListAndButtonContainer {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 15px;
}

#listSocialMedia {
    list-style: none;
}

#listSocialMedia > li {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
}

#btnDownloadCV {
    margin-left: 10px;
    padding: 15px 25px;
    border-radius: 36px;
    background: #212529;
    border: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#btnDownloadCV:hover {
    background: #353a3f;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

@media all and (max-width: 1340px) {
    #secDivContainerIcon1 {
        width: 450px;
    }

    #secDivContainerIcon2 {
        width: 450px;
    }
}

@media all and (max-width: 940px) {
    #secDivContainer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
        padding: 10px;
    }

    #secDivContainerIcon1 {
        width: 450px;
        margin: auto;
    }

    #secDivContainerIcon2 {
        text-align: center;
        width: 600px;
    }

    #txtTopicDetails {
        margin-left: 0;
    }

    #socialIconsListAndButtonContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 25px;
    }
}

@media all and (max-width: 630px) {
    #secDivContainerIcon1 {
        width: 415px;
        margin: auto;
    }

    #secDivContainerIcon2 {
        text-align: center;
        width: 415px;
    }

    #listMyExperience {
        list-style: none;
        margin-top: 15px;
        margin-left: 0;
    }

    #listMyExperience > li > img {
        display: none;
    }
}

@media all and (max-width: 1440px) and (min-width: 1025px) {

}

@media all and (max-width: 1024px) and (min-width: 769px) {
}

@media all and (max-width: 768px) and (min-width: 426px) {
}

@media all and (max-width: 425px) and (min-width: 376px) {
    #secDivContainerIcon1 {
        width: 360px;
    }

    #secDivContainerIcon2 {
        width: 360px;
    }

    #secDivMainContainer {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media all and (max-width: 375px) and (min-width: 321px) {
    #secDivContainerIcon1 {
        width: 320px;
    }

    #secDivContainerIcon2 {
        width: 320px;
    }

    #socialIconsListAndButtonContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        justify-content: start;
        margin-top: 15px;
    }

    #secDivMainContainer {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media all and (max-width: 320px) {
    #secDivContainerIcon1 {
        width: 290px;
    }

    #secDivContainerIcon2 {
        width: 290px;
    }

    #socialIconsListAndButtonContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        justify-content: start;
        margin-top: 15px;
    }

    #secDivMainContainer {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}