#secDivMainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

#secDivContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    padding: 10px;
}

#secDivContainerIcon1 {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#secDivContainerIcon2 {
    width: 600px;
    margin: auto;
}

#secDivContainerIcon1 > img {
    object-fit: cover;
    width: 80%;
}