#thirdDivMainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 120px;
    padding-bottom: 120px;
    gap: 30px;
    font-family: 'Roboto', sans-serif;
}

#thirdDivDescriptionContainer {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

#thirdDivDescriptionContainer > h16 {
    font-size: 12px;
}

#thirdDivDescriptionContainer > h1 {
    margin-top: -10px;
    font-size: 60px;
}

#thirdDivDescriptionContainer > p {
    margin: auto;
    width: 60%;
}

#thirdDivContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 1000px;
    gap: 30px 30px;
    padding: 20px 20px;
}

.thirdDivContainerItem {
    width: 300px;
    height: 350px;
    border-radius: 10px;
    display: flex;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    transition: 1s;
}

.thirdDivContainerItem:hover {
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
}

.thirdDivContainerItemDetails {
    width: 95%;
    height: 95%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.thirdDivContainerItemDetails > p {
    margin-top: -15px;
}

.thirdDivContainerItemDetails > img {
    width: 100%;
    object-fit: cover;
}

.thirdDivContainerItemDetails > button {
    padding: 15px 25px;
    margin-bottom: 5px;
    width: 98%;
    border-radius: 8px;
    background: #212529;
    border: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
}

@media all and (max-width: 1060px) {
    #thirdDivContainer {
        width: 90vw;
    }
}

@media all and (max-width: 425px) and (min-width: 376px) {
    #thirdDivDescriptionContainer > p {
        width: 80%;
    }

    #thirdDivContainer {
        width: 280px;
        gap: 20px 10px;
        padding: 10px 10px;
    }
}

@media all and (max-width: 375px) and (min-width: 321px) {
    #thirdDivDescriptionContainer > p {
        width: 80%;
    }

    #thirdDivContainer {
        width: 280px;
        gap: 20px 10px;
        padding: 10px 10px;
    }

    .thirdDivContainerItem {
        width: 250px;
        height: 300px;
    }
}

@media all and (max-width: 320px) {
    #thirdDivDescriptionContainer > p {
        width: 80%;
    }

    #thirdDivContainer {
        width: 80vw;
        gap: 20px 10px;
        padding: 10px 10px;
    }

    .thirdDivContainerItem {
        width: 250px;
        height: 300px;
    }
}